{% extends "telemedicine/base.html" %}
{% block content %}
<h1>Register for an Account</h1>

    <form action="" method="post" style="margin-top: 10px;">
        {% csrf_token %}

    <label>First Name: </label>
    <input type="text" name="firstname" placeholder="First Name" required>
    <br>

    <label>Middle Name: </label>
    <input type="text" name="middlename" placeholder="Middle Name">
    <br>
    <label>Last Name: </label>
    <input type="text" name="lastname" placeholder="Last Name" required>
    <br>
    <label>Social Security Number: </label>
    <input type="number" name="ssn" placeholder="Social Security Number">
    <br>
    <label>Gender: </label>
      <input type="radio" id="f" name="gender" value="f"> <label for="f">Female</label>
          <input type="radio" id="m" name="gender" value="m"> <label for="m">Male</label>
          <br>
    <label>Date of Birth</label>
    <input type="date" name="dob" placeholder="Date of Birth">
    <br>
    <label>Height in Feet: </label>
    <input type="number" step="0.01" name="height" placeholder="Height">
    <br>
    <label>Weight in pounds: </label>
    <input type="number" name="weight" placeholder="Weight">
    <br>
    <label>Address: </label>
    <input type="text" name="address1" placeholder="Address">
    <br>
    <label>City: </label>
    <input type="text" name="city" placeholder="City">
    <br>
    <label>ZipCode: </label>
    <input type="number" name="zipcode" placeholder="ZipCode">
    <br>
    <label>State: </label>
    <input type="text" name="state" placeholder="State">
    <br>
    <input type="submit" value="Add patient">
    </form>
{% endblock content %}

