{% extends "telemedicine/base.html" %}
{% block content %}

<main id='main-holder'>
    <h1 id="login-header">Patient Login</h1>
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid Username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    <form id="login-form">
      <label>Username: </label>
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <br>
      <label>Password: </label>
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <br>
      <div class="buttons">
          <input type="submit" value="Login" id="login-form-submit" class="login-form-submit" > 
          <input type="button"value="Register" onclick="location.href=''">
      </div>
    </form>
  </main>
  {% endblock content %}